# ---------------------------------
# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ---------------------------------
# Betriebssystem
.DS_Store
Thumbs.db

# ---------------------------------
# Editor / IDE
.vscode/
.idea/

# ---------------------------------
# Build / Output
dist/
build/

# ---------------------------------
# Tests & Coverage
coverage/
.nyc_output/

# ---------------------------------
# Lokale Konfiguration / Secrets
config.mjs     # enthält echte Tokens
.env
.env.local
.env.*.local

# ---------------------------------
# Logs / temporäre Dateien
*.log
*.tmp



# ---------------------------------
#lockfile
package-lock.json
######################

folderUploadFiles/
config.mjs